<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-center">
    <h2>Administrar Productos</h2>
    <button class="btn btn-success" (click)="openAddProductForm()">➕ Agregar Producto</button>
  </div>
  <!-- 🔍 Search Bar -->
  <input type="text" class="form-control mb-3" placeholder="Buscar producto..." [(ngModel)]="searchQuery" (input)="filterProducts()">

<!-- 📋 Products Table (siempre visible) -->
<table class="table table-bordered mt-3">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Tipo</th>
      <th>Precio</th>
      <th>Stock</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <!-- Mostrar fila de carga mientras se obtienen los datos -->
    <tr *ngIf="loading">
      <td colspan="5" class="text-center">
        <div class="spinner-border text-primary" role="status"></div>
        <p class="mt-2">Cargando productos...</p>
      </td>
    </tr>

    <!-- Usar ng-container para evitar el error -->
    <ng-container *ngIf="!loading">
      <tr *ngFor="let producto of filteredProducts">
        <td>{{ producto.nombre }}</td>
        <td>{{ producto.tipo }}</td>
        <td>${{ producto.precio }}</td>
        <td>{{ producto.stock }}</td>
        <td>
          <button (click)="editProduct(producto)" class="btn btn-warning">Editar</button>
          <button (click)="openDeleteModal(producto._id)" class="btn btn-danger">Eliminar</button>
        </td>
      </tr>
    </ng-container>
  </tbody>

</table>


  <!-- Formulario para agregar un nuevo producto -->
  <div *ngIf="isAddingProduct && !isEditingProduct" class="mt-4 p-3 border rounded">
    <h4>Agregar Nuevo Producto</h4>
    <label>Nombre:</label>
    <input type="text" class="form-control mb-2" [(ngModel)]="newProduct.nombre">

    <label>Tipo:</label>
    <!-- 🔹 Modo de Selección -->
    <div *ngIf="!isAddingNewType">
      <select class="form-control mb-2" [(ngModel)]="newProduct.tipo">
        <option value="">Selecciona un tipo existente</option>
        <option *ngFor="let tipo of availableTypes" [value]="tipo">{{ tipo }}</option>
      </select>
      <button class="btn btn-sm btn-secondary" (click)="toggleTypeMode()">➕ Agregar nuevo tipo</button>
    </div>

    <!-- 🔹 Modo de Entrada Manual -->
    <div *ngIf="isAddingNewType">
      <input type="text" class="form-control mb-2" [(ngModel)]="newProduct.tipo" placeholder="Ingresa un nuevo tipo">
      <button class="btn btn-sm btn-warning" (click)="toggleTypeMode()">🔄 Usar lista existente</button>
    </div>

    <label>Precio:</label>
    <input type="number" class="form-control mb-2" [(ngModel)]="newProduct.precio">

    <label>Stock:</label>
    <input type="number" class="form-control mb-2" [(ngModel)]="newProduct.stock">

    <!-- Campo para subir múltiples imágenes -->
    <label>Imágenes del producto (Máximo 5):</label>
    <input type="file" accept=".jpg, image/jpeg" (change)="onImagesSelected($event)" multiple />

    <!-- Previsualización de imágenes -->
    <div *ngIf="previewImageUrls.length > 0" class="image-preview mt-3">
      <p>Previsualización de las imágenes:</p>
      <div class="d-flex flex-wrap gap-2">
        <div *ngFor="let imgUrl of previewImageUrls" class="position-relative">
          <img [src]="imgUrl" alt="Previsualización de imagen" width="150" height="150" class="rounded border">
          <button class="btn btn-sm btn-danger position-absolute top-0 end-0" (click)="removeImage(imgUrl)">
            ❌
          </button>
        </div>
      </div>
    </div>

    <!-- Campo para el enlace de video de YouTube -->
    <label>Enlace de Video (YouTube):</label>
    <input type="text" class="form-control mb-2" [(ngModel)]="videoLink" placeholder="https://www.youtube.com/watch?v=..." />

    <h5>Especificaciones</h5>
    <div>
      <div *ngIf="newProduct.especificaciones">
        <div *ngFor="let key of getObjectKeys(newProduct.especificaciones)">
          <label>{{ key }}:</label>
          <input type="text" class="form-control mb-2" [(ngModel)]="newProduct.especificaciones[key]">
          <button class="btn btn-danger btn-sm" (click)="removeSpecificationFromProduct(key)">❌ Quitar</button>
        </div>
      </div>

      <div class="mt-3">
        <div *ngIf="!isAddingNewSpec">
          <select class="form-control mb-2" [(ngModel)]="selectedSpec">
            <option value="">Selecciona una especificación existente</option>
            <option *ngFor="let spec of availableSpecs" [value]="spec">{{ spec }}</option>
          </select>
          <button class="btn btn-sm btn-secondary" (click)="toggleSpecMode()">➕ Agregar nuevo nombre</button>
        </div>

        <div *ngIf="isAddingNewSpec">
          <input type="text" class="form-control mb-2" [(ngModel)]="newSpecKey" placeholder="Ingresa el nombre de la especificación">
          <button class="btn btn-sm btn-warning" (click)="toggleSpecMode()">🔄 Usar lista existente</button>
        </div>

        <input type="text" class="form-control mb-2" [(ngModel)]="newSpecValue" placeholder="Ingresar especificación">
        <button class="btn btn-primary btn-sm" (click)="addSpecificationToProduct()">➕ Agregar Especificación</button>
      </div>
    </div>
    <button class="btn btn-success" (click)="addProduct()">Guardar Producto</button>
    <button class="btn btn-secondary" (click)="cancelAddProduct()">Cancelar</button>
  </div>

  <!-- Formulario para editar un producto -->
  <div *ngIf="isEditingProduct && !isAddingProduct && editingProduct">
    <h4>Editar Producto</h4>
    <label>Nombre:</label>
    <input type="text" class="form-control mb-2" [(ngModel)]="editingProduct.nombre">

    <label>Tipo:</label>
    <!-- 🔹 Modo de Selección -->
    <div *ngIf="!isAddingNewTypeEdit">
      <select class="form-control mb-2" [(ngModel)]="editingProduct.tipo">
        <option value="">Selecciona un tipo existente</option>
        <option *ngFor="let tipo of availableTypes" [value]="tipo">{{ tipo }}</option>
      </select>
      <button class="btn btn-sm btn-secondary" (click)="toggleTypeModeEdit()">➕ Agregar nuevo tipo</button>
    </div>

    <!-- 🔹 Modo de Entrada Manual -->
    <div *ngIf="isAddingNewTypeEdit">
      <input type="text" class="form-control mb-2" [(ngModel)]="editingProduct.tipo" placeholder="Ingresa un nuevo tipo">
      <button class="btn btn-sm btn-warning" (click)="toggleTypeModeEdit()">🔄 Usar lista existente</button>
    </div>


    <label>Precio:</label>
    <input type="number" class="form-control mb-2" [(ngModel)]="editingProduct.precio" min="0" step="0.01" required>

    <label>Stock:</label>
    <input type="number" class="form-control mb-2" [(ngModel)]="editingProduct.stock" min="0" step="1" required>

    <!-- Campo para subir nuevas imágenes -->
    <label>Imágenes del producto (Máximo 5):</label>
    <br>
    <input type="file" accept=".jpg, image/jpeg" (change)="onImagesSelected($event)" multiple />

    <!-- 📸 Imágenes existentes con opciones para eliminar o reemplazar -->
    <div *ngIf="previewImageUrls.length > 0" class="image-preview mt-3">
      <p>Imágenes actuales:</p>
      <div class="d-flex flex-wrap gap-2">
        <div *ngFor="let imgUrl of previewImageUrls; let i = index" class="position-relative">
          <img [src]="imgUrl" alt="Imagen actual" width="150" height="150" class="rounded border">

          <!-- ❌ Botón para eliminar imagen -->
          <button class="btn btn-sm btn-danger position-absolute top-0 end-0" (click)="removeExistingImage(i)">
            ❌
          </button>

          <!-- 🔄 Reemplazar imagen -->
          <input
            type="file"
            accept=".jpg, image/jpeg"
            class="mt-2 form-control"
            (change)="replaceImage($event, i)"
          />
        </div>
      </div>
    </div>

    <br>
    <br>
    <!-- Campo para el enlace de video de YouTube en la edición -->
    <label>Enlace de Video (YouTube):</label>
    <input type="text" class="form-control mb-2" [(ngModel)]="editingProduct['videoLink']" placeholder="https://www.youtube.com/watch?v=..." />

    <h5>Especificaciones</h5>
    <div *ngIf="editingProduct.especificaciones">
      <div *ngFor="let key of getObjectKeys(editingProduct.especificaciones)">
        <label>{{ key }}:</label>
        <input type="text" class="form-control mb-2" [(ngModel)]="editingProduct.especificaciones[key]">
        <button class="btn btn-danger btn-sm" (click)="removeSpecification(key)">❌ Quitar</button>
      </div>

      <div class="mt-3">
        <div *ngIf="!isAddingNewSpec">
          <select class="form-control mb-2" [(ngModel)]="selectedSpec">
            <option value="">Selecciona una especificación existente</option>
            <option *ngFor="let spec of availableSpecs" [value]="spec">{{ spec }}</option>
          </select>
          <button class="btn btn-sm btn-secondary" (click)="toggleSpecMode()">➕ Agregar nuevo nombre</button>
        </div>

        <div *ngIf="isAddingNewSpec">
          <input type="text" class="form-control mb-2" [(ngModel)]="newSpecKey" placeholder="Ingresa el nombre de la especificación">
          <button class="btn btn-sm btn-warning" (click)="toggleSpecMode()">🔄 Usar lista existente</button>
        </div>

        <input type="text" class="form-control mb-2" [(ngModel)]="newSpecValue" placeholder="Ingresar especificación">
        <button class="btn btn-primary btn-sm" (click)="addSpecification()">➕ Agregar Especificación</button>
      </div>
    </div>

    <button class="btn btn-success" (click)="openSaveModal()">Guardar Cambios</button>
    <button class="btn btn-secondary" (click)="cancelEdit()">Cancelar</button>
  </div>
</div>

<!-- Modal de Confirmación para Eliminar -->
<div *ngIf="showDeleteModal" class="modal-backdrop">
  <div class="modal-content">
    <h3>¿Estás seguro de eliminar este producto?</h3>
    <p>Esta acción no se puede deshacer.</p>
    <button class="btn btn-danger" (click)="confirmDelete()">Sí, eliminar</button>
    <button class="btn btn-secondary" (click)="cancelDelete()">Cancelar</button>
  </div>
</div>

<!-- Modal de Confirmación para Guardar -->
<div *ngIf="showSaveModal" class="modal-backdrop">
  <div class="modal-content">
    <h3>¿Guardar cambios?</h3>
    <p>Se actualizará la información del producto.</p>
    <button class="btn btn-success" (click)="confirmSave()">Sí, guardar</button>
    <button class="btn btn-secondary" (click)="cancelSave()">Cancelar</button>
  </div>
</div>
