<div class="container mx-auto p-6 cart-container">
  <div id='form-wrapper'>
    <form>

      <div id='header' class='text-center mb-3'>
        <h1>Finalizar la Compra</h1>
      </div>

      <div class='text-center'>
        <i class="fab fa-cc-visa fa-3x mr-3"></i>
        <i class="fab fa-cc-mastercard fa-3x mr-3"></i>
        <i class="fab fa-cc-amex fa-3x mr-3"></i>
        <i class="fab fa-cc-discover fa-3x mr-3"></i>
      </div>
      <h5>Informacion de Facturacion</h5>
        <hr>
        <div class='form-group mb-1'>
          <label class='mb-1' for='firstName'>Nombre</label>
          <input class='form-control mb-1' id='firstName' type='text' placeholder='Juan'>
        </div>
        <div class='form-group mb-1'>
          <label class='mb-1' for='lastName'>Apellidos</label>
          <input id='lastName' type='text' class='form-control' placeholder='Hernandez Perez'>
        </div>
        <div class='form-group mb-1'>
          <label class='mb-1'>Direccion</label>
          <input class='form-control' type='text' id='street1' placeholder='Palafox & Mendoza'>
        </div>
        <div class='form-group mb-1'>
          <label class='mb-1' for='city'>Ciudad</label>
          <input type='text' id='city' class='form-control' placeholder='Puebla'>
        </div>
        <div class='form-row mb-2'>
          <div class='col-md-8'>
            <label class='mb-1' for='state'>Estado</label>
            <input id='state' class='form-control' placeholder='Puebla'>
          </div>
          <div class='col-md-4'>
            <label class='mb-1' for='zip'>C.P</label>
            <input type='text' id='zip' class='form-control' placeholder='00666'>
          </div>
        </div>

        <h5>Card Info</h5>
          <hr class='mb-1'>

          <div class='form-group mb-1'>
            <label class='mb-1' for='nameOnCard'>Nombre en la Tarjeta</label>
            <input class='form-control' id='nameOnCard' placeholder='Juan Hernandez Perez'>
          </div>

          <div class='form-group mb-1'>
            <label class='mb-1' for='cardNum'>Numero de Tarjeta</label>
            <input class='form-control' id='cardNum' placeholder>
          </div>

          <div class='form-row mb-1'>
            <div class='col'>
              <label class='mb-0' for='expMonth'>Mes de Expiracion</label>
              <select class='form-control' id='expMonth'>
                <option value='01'>Ene</option>
                <option value='02'>Feb</option>
                <option value='03'>Mar</option>
                <option value='04'>Abr</option>
                <option value='05'>May</option>
                <option value='06'>Jun</option>
                <option value='07'>Jul</option>
                <option value='08'>Ago</option>
                <option value='09'>Sept</option>
                <option value='10'>Oct</option>
                <option value='11'>Nov</option>
                <option value='12'>Dic</option>
              </select>
            </div>
            <div class='col'>
              <label class='mb-0' for='expYear'>Año de Expiracion</label>
              <select class='form-control' id='expYear'>
                <option value='2024'>2032</option>
                <option value='2024'>2031</option>
                <option value='2024'>2030</option>
                <option value='2024'>2029</option>
                <option value='2024'>2028</option>
                <option value='2024'>2027</option>
                <option value='2024'>2026</option>
                <option value='2024'>2025</option>
              </select>
            </div>
            <div class='col'>
              <label class='mb-0' for='ccv'>CVV</label>
              <input placeholder='* * *' class='form-control' id='ccv' >
            </div>
            <button class='btn btn-primary mt-4' type='submit'><i class="fas fa-lock mr-2"></i>Pagar</button>
          </div>
    </form>
  </div>
</div>
